.cart{
  width:250px;
  height:300px;
  border:1px solid black;
  margin:30px;
  float:left;
  text-align:center;
  padding:20px;
}

.cart .name{
font-size:1.5rem;
font-weight:bold; 
text-transform:uppercase;
margin-bottom:20px;
}

.cart .cost{
  font-size:1.5rem;
  margin-bottom:30px;
}

.cart>img, .main-cart>img{
  max-width:100%;
  height:100px;
}

.cart>.add-to-cart{
  font-size:1.0rem;
  background:rgba(0,0,0,0.9);
  color:white;
  padding:10px 20px;
  border:none; 
  border-radius:6px;
  cursor:pointer;
}

.cart .add-to-cart:hover{
  background:rgba(0,0,444,0.9);
}

.cart .add-to-cart:active{
  background:red;
}

.main-cart-item{
  background:rgba(0,0,444,0.2);
  width:170px;
  height:200px;
  border:1px solid black;
  margin:20px;
  text-align:center;
  padding:20px;
}

.main-cart-item>img{
  max-width:100%;
  height:100px;
}

.main-cart-item .count{
  font-weight:bold;
}

.container-inline{
  display:inline-block;
}

.goods-out::after{
  content:"";
  clear:both;
}

//проверить не работает 
.main-cart-item{
  float:left;
}
